/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/scripts/python_script/img
/public/scripts/python_script/venv
/public/scripts/python_script/.idea
*.pyc
/public/scripts/python_script/upload_img
.idea
av_img
av_img_message
img
venv
moodyz